* {
  box-sizing: border-box;

  font-family: Arial;
}

body {
  min-height: 100vh;

  padding: 1em;
  margin: 0;

  background-color: hsl(240, 3%, 7%);

  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}
